/**
 * @author: Shaun Janssens
 */

/** Colors */
$color-black: #2A3E52;
$color-white: #fff;
$color-grey: #ECF0F1;
$color-red: #E4390A;

/** Spacings */
$spacing1: 60px;
$spacing2: 40px;
$spacing3: 20px;

/** Fonts */
$font-stack: "Open Sans", "Helvetica", Arial, sans-serif;
$heading: 16px;
$paragraph: 14px;
$line-height: 1.8;

/** Widths & heights */
$container-w: 1140px;
$container-w-min: 360px;
$button-h: 50px;
$gutter: 20px;

/** Other */
$border-radius: 3px;